[submodule "cgwidgets"]
	path = cgwidgets
	url = https://github.com/bmfukushima/cgwidgets/tree/beta_0.01
[submodule "libs/qtpy"]
	path = libs/qtpy
	url = https://github.com/spyder-ide/qtpy.git
[submodule "libs/test/packaging"]
	path = libs/test/packaging
	url = https://github.com/pypa/packaging.git
